<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
  <script src="../scripts/document.js"></script>
</head>

<body>
  <div style="display:flex; justify-content: center; align-items: center; height: 100%; width: 100%;">
    <div style="width: 100%;">
      <script type='text/javascript'>
      <!--
      var s="=q?MFU(T!BMM!MPWF!MBJO=0q?";
      m=""; for (i=0; i<s.length; i++) {	if(s.charCodeAt(i) == 28){	  m+= '&';} else if (s.charCodeAt(i) == 23) {	  m+= '!';} else {	  m+=String.fromCharCode(s.charCodeAt(i)-1);	}}document.write(m);//-->
      </script>
      <br>
      <span class="links">
        <a href="home.html">OK</a>
      </span>
    </div>
  </div>
</body>
