* {
  color: #0a0;
  background: #000;
  font-family: "Courier" !important;
  font-weight: bold;
  text-shadow: 0 0 10px #009900;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}

#main {
  display: flex;
  flex-flow: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

#view {
  width: 100%;
  z-index: 1;
  height: 100%;
  overflow: scroll;
  position: absolute;
  flex: 2 0 100%;
  border: none;
}

.spacer {
  width: 100%;
  heigt: 50px;
}

.footer {
  padding: 5pt;
  bottom: 0px;
  width: 100%;
  height: 50px;
  position: relative;
  left: 0px;
  display: block;
  z-index: 10000;
  overflow: hidden;
  border-top: #0a0 solid 1px;
}

.content-over {
  border-bottom: #0a0 solid 1px;
  display: block;
  position: relative;
  padding: 10px;
  overflow: hidden;
  height: 250px;
}

.content {
  border-bottom: #0a0 solid 1px;
  padding-bottom: 60px;
  text-align: center;
}

.subcontent {
  padding-left: 50px;
  text-align: left;
}

.links a {
  text-decoration: none;
  border: #0a0 solid 1px;
  padding: 5px;
  transition: all .5s;
}

.links a:hover {
  background: #0a0;
  color: #000;
}

.pageroot {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align: center;
}

.navroot {
  display: inline-flex;
  text-align: center;
  flex-flow: row;
  align-items: center;
  align-content: center;
  max-height: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin: auto;
  width: 100%;
  border-bottom: #0a0 1px solid;
}

@media only screen and (max-width: 1199px) {
  .navsidebarl {
    display: none;
  }
  .navsidebarr {
    display: none;
  }
}

.navsidebarl {
  flex: 2 2 300px;
  height: 450px;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
  background: #0000;
  border-right: #0a0 1px solid;
}

.navsidebarr {
  flex: 2 2 300px;
  height: 450px;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
  background: #0000;
  border-left: #0a0 1px solid;
}

.navcircle {
  height: 300px;
  font-size: 30pt;
  flex: 0 0 300px;
  border: #0a0 solid 1px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  border-radius: 150px;
  z-index: 50;
}

@media only screen and (max-width: 800px) {
  .navcircle {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-flow: column;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  width: 280px;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.navigation a {
  margin: 0;
  text-decoration: none;
  border: #0a0 solid 1px;
  display: block;
  position: relative;
  padding: 0px;
  max-height: 50px;
  flex: 2 2;
  top: 25px;
  overflow: hidden;
  margin-bottom: 50px;
  padding-top: 3px;
  box-sizing: border-box;
  width: 300px;
  transition: all 0.5s;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.l a {
  right: -95px;
  padding-left: 5px;
  text-align: left;
  transition: all 0.5s;
}

.r a {
  left: -95px;
  padding-right: 5px;
  text-align: right;
  transition: all 0.5s;
}

.navigation a:hover {
  background: #0a0;
  color: #000;
}

.l a:hover {
  right: -60px;
}

.r a:hover {
  left: -60px;
}

@media only screen and (max-width: 800px) {
  .navcircle {
    display: none;
  }
  .content-over {
    height: auto;
  }
  .navigation {
    display: block;
    margin: 0;
    height: auto;
    position: relative;
  }
  .r {
    float: left;
    width: 100%;
    text-align: right;
  }
  .l {
    float: right;
    width: 100%;
  }
  .r a {
    position: absolute;
    left: 10px;
    width: 98%;
    padding-left: 10px;
    text-align: left;
  }
  .l a {
    position: absolute;
    right: 10px;
    width: 98%;
    padding-right: 10px;
    text-align: right;
  }
  .l a:hover {
    right: 20px;
  }

  .r a:hover {
    left: 20px;
  }
}

.caret {
  animation: blink 0.5s infinite;
  display: inline;
}

@keyframes blink {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

/* Spinner By Camden Foucht (https://github.com/CamdenFoucht/LoadLab) */

.multi-spinner-container {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  background: #0000;
}

.multi-spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-top-color: #0a0;
  border-radius: 50%;
  -webkit-animation: spin 10s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 10s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
